{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-4 main">
        <div class="centered_panel" >
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Connexion
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form._username) }}
                            {{ form_errors(form._username) }}
                            {{ form_widget(form._username,
                                {'attr': {'class': 'form-control'}}
                            )}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form._password) }}
                            {{ form_errors(form._password) }}
                            {{ form_widget(form._password,
                                {'attr': {'class': 'form-control'}}
                            )}}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
    </div>
    </div>

{% endblock %}
