{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-4 main  ">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Inscription

                        <span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                    class="fa fa-toggle-up"></em></span></div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.login) }}
                            {{ form_errors(form.login) }}
                            {{ form_widget(form.login,
                                {'attr': {'class': 'form-control'}}
                            )}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name,
                                {'attr': {'class': 'form-control'}}
                            )}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.lastname) }}
                            {{ form_errors(form.lastname) }}
                            {{ form_widget(form.lastname,
                                {'attr': {'class': 'form-control'}}
                            )}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainpassword) }}
                            {{ form_errors(form.plainpassword) }}
                            {{ form_widget(form.plainpassword,
                                {'attr': {'class': 'form-control'}}
                            )}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.type) }}
                            {{ form_errors(form.type) }}
                            {{ form_widget(form.type,
                                {'attr': {'class': 'form-control'}}
                            )}}
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div><!--/.row-->


    </div>
{% endblock %}
