{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="col-sm-9 col-sm-offset- col-lg-12 col-lg-offset-2 main">
            <div class="centered_panel">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {% if is_granted('ROLE_STUDENT') %}
                                Votre stage<span class="pull-right clickable panel-toggle panel-button-tab-left"><em
                                            class="fa fa-toggle-up"></em></span></div>

                            {% if user in users %}
                                <div class="panel-body">
                                    {{ form_start(form) }}
                                    {{ form_errors(form.Eleve) }}
                                    {{ form_widget(form.Eleve,{'attr': {'class': 'hidden'}}) }}
                                    <div class="form-group">
                                        {{ form_label(form.Company) }}
                                        {{ form_errors(form.Company) }}
                                        {{ form_widget(form.Company,{'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.Tuteur) }}
                                        {{ form_errors(form.Tuteur) }}
                                        {{ form_widget(form.Tuteur,{'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    {{ form_end(form) }}
                                </div>
                            {% else %}
                                <div class="panel-body">

                                    {% if date(lestage.date)|date_modify("-7 days")|date("Y/m/d") == date()|date_modify("+0 day")|date("Y/m/d") %}

                                        <div class="alert alert-warning">
                                            Attention, votre stage commence dans 1 semaine.
                                        </div>

                                    {% endif %}


                                    Voici les informations à propos de votre stage :<br/><br/><br/>

                                    <h2>Elève </h2>

                                    <table class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Prénom</th>
                                            <th>Nom</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ lestage.eleve.name }}</td>
                                            <td>{{ lestage.eleve.lastname }}</td>
                                        </tr>
                                        </tbody>
                                    </table><br/><br/>

                                    <h2>Date </h2> {{ lestage.date|date('Y-m-d') }}

                                    <h2>Entreprise </h2>

                                    <table class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Tuteur</th>
                                            <th>Ville</th>
                                            <th>Adresse</th>
                                            <th>Code postal</th>
                                            <th>Mail</th>
                                            <th>Téléphone portable</th>
                                            <th>Activité</th>
                                            <th>Est active ?</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ lestage.company.name }}</td>
                                            <td>{{ lestage.tuteur }}</td>
                                            <td>{{ lestage.company.city }}</td>
                                            <td>{{ lestage.company.address }}</td>
                                            <td>{{ lestage.company.postalCode }}</td>
                                            <td>{{ lestage.company.mail }}</td>
                                            <td>{{ lestage.company.mobilePhone }}</td>
                                            <td>{{ lestage.company.activity }}</td>
                                            <td>{% if lestage.company.isActive == 1 %}yes{% else %}no{% endif %}</td>
                                        </tr>
                                        </tbody>
                                    </table><br/><br/>

                                    <h2>Référent </h2>

                                    {% if lestage.referent is null %}
                                        Vous n'avez pas encore de professeur référent.
                                    {% else %}

                                        <table class="table table-striped table-bordered" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>Prénom</th>
                                                <th>Nom</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ lestage.referent.name }}</td>
                                                <td>{{ lestage.referent.lastname }}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    {% endif %}<br/><br/>
                                    <a class="" href="{{ path('stage_edit', {'id': lestage.id}) }}">
                                        <span class="fa fa-arrow-right">&nbsp;</span> Editer son stage
                                    </a>
                                </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div><!--/.row-->
            </div>

        </div>
    </div>

{% endblock %}